{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ title (i18n (lower .Title)) | default .Title }}
      </a>
    </h1>
    {{ .Content }}
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>
    {{ if gt (len $.Site.Taxonomies.series) 0 }}
    <h1 class="title">
      <a class="title-link" href="/series">
        {{ title (i18n "series") }}
      </a>
    </h1>
    <ul>
      {{ range $.Site.Taxonomies.series }}
        <li>
          <a class="heading-link" href="{{ .Page.Params.externalLink | default .Page.RelPermalink }}">{{ .Page.Title }}</a>
        </li>
      {{ end }}
    </ul>
    {{ end }}

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
